<div class="row">
  <div class=" tab-row mx-4">
    <ul class="nav nav-tabs upper">
      <li class="pointer">
        <a data-toggle="tab" aria-expanded="true" class="nav-link tablinks" (click)="status = 'active';reload()"
          [ngClass]="{'active': status == 'active'}">Active</a>
      </li>
      <li class="pointer">
        <a data-toggle="tab" aria-expanded="true" class="nav-link tablinks" (click)="status = 'inactive';reload()"
          [ngClass]="{'active': status == 'inactive'}">Pending</a>
      </li>
    </ul>
  </div>
  <div class="col-md-12">
    <table class="table table-striped" datatable [dtOptions]="dtOptions">
      <thead>
        <tr>
          <th>Action</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allUsers">
          <td></td>
          <td>{{item.fullName}}</td>
          <td>{{item.emailAddress}}</td>
          <td>{{item.phoneNumber}}</td>
          <td>{{item.roleNames}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th><input type="text" placeholder="Search Name" name="fullname" /></th>
          <th><input type="text" placeholder="Search Email Address" name="emailAddress" /></th>
          <th><input type="text" placeholder="Search Phone Number" name="phoneNumber" /></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>